{% extends "base.html" %}
{% block head %}
{{ super() }}
<title>time table drawing</title>
<meta charset="utf-8" />
<script type="text/javascript" src="/static/2048_static/jquery.js"></script>
{% endblock %}
{% block page_content %}
<h1>Time Table</h1>

<!DOCTYPE html>
<canvas id="myCanvas" width="500" height="300"></canvas>

<button type="button" id="mult_up">+</button>
<button type="button" id="mult_down">-</button>
<button type="button" id="autoL"><</button>
<button type="button" id="autoR">></button>
<button type="button" id="stop">stop</button>            
<form action="">
  <input type="text" id="m" value="2">
  <input type="text" id="n" value="200">
  <button type="button" id="submit">submit</button>            
</form>
<img id="canvasImg" width="500" height="300"></img>
<br/>
<script src="/static/timeTable_static/timetable.js"></script>    
{% endblock %}
