{% extends 'blog_templates/base.html' %}
{% block title %}Fantastic Song by Zixu Su{% endblock %}
{% block page_content %}

<h1>An amazing song by Zixu Su</h1>
<h2>《融·解》</h2>
<h3>苏紫旭</h3>
<p>
闭上眼睛以后我看见<br/>
伸出手去想抓住什么东西<br/>
它却翩翩飞远<br/>
<br/>
没说出口的话都在心间<br/>
为何不从现在我们没有从前<br/>
<br/>
喔快去捕捉逃离城市时斑驳的月色<br/>
噫梦到蝴蝶变成了我<br/>
嘿云卷云舒前方荆棘密布<br/>
呐耶燕子绕过冬日的酒窝<br/>
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zSY-n39A2GY" frameborder="0" allowfullscreen></iframe>
<br/>
这首歌的词简直太惊艳。“闭上眼睛”和“看到”形成的矛盾感以及后面几个虚词的运用使人震撼。
期待作者以后的作品。
{% endblock %}
