{% extends "base.html" %}
{% block page_content %}
{% block head %}
{{super()}}

<!-- <link rel="stylesheet" type="text/css" href="../static/style.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="../static/color.css" /> -->
{% endblock %}
<div class="wrapper">
  <header class="page-header":>
    <h1>Jiaxuan Wang</h1>
    <!-- <nav> -->
    <!--   <div id="divalien"> -->
    <!-- 	<img src="../static/alieninvasion.png"> -->
    <!-- 	<p id="description">description for alieninvasion</p> -->
    <!--   </div> -->
    <!--   <div id="divsnake"> -->
    <!-- 	<img src="../static/snake.png"> -->
    <!-- 	<p id="description">description for snake</p> -->
    <!--   </div> -->
    <!--   <div id="div2048"> -->
    <!-- 	<img src="../static/2048.png"> -->
    <!-- 	<p id="description">description for 2048</p> -->
    <!--   </div> -->
    <!--   <\!-- changeThis to use javascript -\-> -->
    <!--   <div id="divalien2"> -->
    <!-- 	<img src="../static/alieninvasion.png"> -->
    <!-- 	<p id="description">description for alieninvasion</p> -->
    <!--   </div> -->
    <!-- </nav> -->
  </header>
  <div class="row">
    <div class="col-xs-6" id="photo_div">
      <img id="author_photo" src="/static/jiaxuan.jpg"></img>
    </div>
    <div class="col-xs-6">
      Hi there, I'm a student at University of Michigan, major in <i>computer science</i>.<br/>
      <br/>
      I want to be a software developer upon graduation and hopes I can be a full stack developer.<br/>
      <br/>
      I enjoy programming very much and tried to build some small games in my spare time.
      Feel free to check out some of the games by clicking on the links located on the 
      navigation bar.<br/>

      <h3>Skill Set:</h3>

      {% set skills={"C":"80", "C++":"85", "Python":"90", "R":"80", "Javascript":"70", "Ruby":"50", 
      "Bash script":"75", "scheme":"40", "Java":"50"} %}
      {% for skill, value in skills.iteritems() %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped" role="progressbar" 
	     aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" 
	     style="width: {{value}}%;">
	  <span>{{skill}}</span>
	</div>
      </div>
      {% endfor %}

      <br/>
      I'm contributing a research on <i>Computer Vision</i>.
      You may want to checkout this link to read about it.</br>
      <a href="#">currently unavailable</a>
      <br/><br/>
      Besides computer science, I'm taking many statistics and 
      math classes. Statistics is important in order to "understand" 
      big data. It offers insight into the distribution the data 
      may come from and we can make predictions based on that. I'll post 
      more content on statistics on this site in the future.
      <br/><br/>
      I'm currently building a social network site called 
      <i>Legitur</i> to encourage people reading books. The project is 
      still in its infant state and you can check it out on this 
      github page.
      </br>
      </br>
      <a href="https://github.com/nathanwang000/Legitur" class="btn btn-success" style="margin-top:10px"
	 target="_blank">Check out Legitur</a>
      
    </div>
  </div>
  
  <footer>
    <p>&copy Jiaxuan Wang</p>
    <!-- <span id="hobby"> -->
    <!--   <img id="violin"></img> -->
    <!--   <img id="basketball"></img> -->
    <!--   <img id="book"></img> -->
    <!-- </span> -->
  </footer>
  
  <script type="text/javascript" src="/static/2048_static/jquery.js"></script>
  <script type="text/javascript" src="/static/mainpage.js"></script>
</div> <!-- wrapper end -->
{% endblock %}
