{% extends "base.html" %}
{% block page_content %}
{% block head %}
{{super()}}

<!-- <link rel="stylesheet" type="text/css" href="../static/style.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="../static/color.css" /> -->
{% endblock %}
<div class="wrapper">
  <header class="page-header":>
    <h1>Jiaxuan Wang (王家轩)</h1>
  </header>
  <div class="row">
    <div class="col-xs-3" id="photo_div">
      <img id="author_photo" src="/static/jiaxuan.jpg"></img>
      Me at Grand Canyon, 2014
    </div>
    <div class="col-xs-9">

      I'm a rising second year PhD student at the Unversity of Michigan, adviced
      by professor <a href="http://www-personal.umich.edu/~wiensj/" target="_blank">Jenna Wiens</a>. <br/><br/>

      My research interest lies in model interpretabilty. I'd like to build
      machine learning models that are easy to debug and can incorporate expert
      background knowledge that are beyond data (e.g., causal knowledge). <br/><br/>

      Born in Nancheng and raised in Beijing, went to University of Michigan as
      undergrad (2013-2017), I'm a huge fan of basketball (both play and watch)
      and music performance (practiced violin since 5, picked up guitar at
      21). I also do rock climbing, swimming, and juggling. I love watching
      movies and would like to write a movie script in the future. <br/><br/>

      Previous worked as an undergrad researcher on extending Convnet with
      rotation equivariance under the supervision of
      professor <a href="http://web.eecs.umich.edu/~jiadeng/">Jia Deng</a>
      (2014-2015). I aslo worked as a machine learning intern at Bloomberg
      L.P. (2016) on parsing and ranking natural language query for financial
      charts under supervision of
      Dr. <a href="http://people.csail.mit.edu/kostas/">Konstantine Arkoudas</a>
      (became a huge fan on functional programming) and
      Dr. <a href="https://www.linkedin.com/in/srivasprasad/">Srivas
      Prasad</a>.<br/><br/>
      
      Link to previous published papers: <br/><br/>

      <b>Learning Credible Models</b><br/>
      <b>Jiaxuan Wang</b>, Jeeheh Oh, Haozhu Wang, Jenna Wiens<br/>
      ACM SIGKDD Conference on Knowledge Discovery and Data Mining, 2018<br/>
      [<a href="https://arxiv.org/pdf/1711.03190.pdf">paper</a>][<a href="https://github.com/nathanwang000/credible_learning">code</a>]<br/><br/>

      <b>The Advantage of Doubling: A Deep Reinforcement Learning Approach to
	Studying the Double Team in the NBA</b><br/>
      <b>Jiaxuan Wang</b>, Ian Fox, Jonathan Skaza, Nick Linck, Satinder Singh, Jenna Wiens<br/>
      MIT Sloan Sports Analytics Conference, 2018<br/>
      [<a href="https://arxiv.org/pdf/1803.02940.pdf">paper</a>][<a href="https://github.com/igfox/AdvantageOfDoubling/graphs/contributors">code</a>]<br/><br/>
      
      <b>Learning to Exploit Invariances in Clinical Time-Series Data using Sequence Transformer Networks</b><br/>
      Jeeheh Oh, <b>Jiaxuan Wang</b>, and Jenna Wiens<br/>
      Machine Learning for Healthcare, 2018<br/>
      [<a href="https://static1.squarespace.com/static/59d5ac1780bd5ef9c396eda6/t/5b737358562fa79aabf87b94/1534292825123/22.pdf">paper</a>][code]<br/><br/>
      
      <b>HICO: A Benchmark for Recognizing Human-Object Interactions in Images</b><br/>
      Yu-Wei Chao, Zhan Wang, Yugeng He, <b>Jiaxuan Wang</b>, Jia Deng<br/>
      International Conference on Computer Vision (ICCV) 2015<br/>
      [<a href="http://web.eecs.umich.edu/~jiadeng/paper/chao_iccv2015.pdf">paper</a>][<a href="http://www-personal.umich.edu/~ywchao/hico/">data</a>][<a href="http://www-personal.umich.edu/~ywchao/hico/">code</a>]<br/><br/>

    </div>
  </div>
  
  <footer>
    <p>&copy Jiaxuan Wang</p>
    <!-- <span id="hobby"> -->
    <!--   <img id="violin"></img> -->
    <!--   <img id="basketball"></img> -->
    <!-- </span> -->
  </footer>
  
  <script type="text/javascript" src="/static/2048_static/jquery.js"></script>
  <script type="text/javascript" src="/static/mainpage.js"></script>
</div> <!-- wrapper end -->
{% endblock %}
