{% extends "base.html" %}
{% block page_content %}
{% block head %}
{{super()}}

<!-- <link rel="stylesheet" type="text/css" href="../static/style.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="../static/color.css" /> -->
{% endblock %}
<div class="wrapper">
  <header class="page-header":>
    <h1>Jiaxuan Wang</h1>
    <!-- <nav> -->
    <!--   <div id="divalien"> -->
    <!-- 	<img src="../static/alieninvasion.png"> -->
    <!-- 	<p id="description">description for alieninvasion</p> -->
    <!--   </div> -->
    <!--   <div id="divsnake"> -->
    <!-- 	<img src="../static/snake.png"> -->
    <!-- 	<p id="description">description for snake</p> -->
    <!--   </div> -->
    <!--   <div id="div2048"> -->
    <!-- 	<img src="../static/2048.png"> -->
    <!-- 	<p id="description">description for 2048</p> -->
    <!--   </div> -->
    <!--   <\!-- changeThis to use javascript -\-> -->
    <!--   <div id="divalien2"> -->
    <!-- 	<img src="../static/alieninvasion.png"> -->
    <!-- 	<p id="description">description for alieninvasion</p> -->
    <!--   </div> -->
    <!-- </nav> -->
  </header>
  <div class="row">
    <div class="col-xs-6" id="photo_div">
      <img id="author_photo" src="/static/jiaxuan.jpg"></img>
    </div>
    <div class="col-xs-6">
      Hi there, I'm a student at University of Michigan, major in <i>computer science</i>.<br/>
      <br/>
      I want to be a software developer or data scientist upon graduation.<br/>
      <br/>
      I'm strong in both in math and stats. As an undergrad, I did fair amount of research in <b>Computer Vison</b> and <b>Machine Learning</b> (most of which deals with deep learning). <b>I'm currently developing a variant of convolutional neural network, and is going to be the first auther of a paper for CVPR 2016 submission</b>.
      <br/>
      <br/>
      Here is one of my past publication:
      <br>
      <b>HICO: A Benchmark for Recognizing Human-Object Interactions in Images </b><br/>
      Yu-Wei Chao, Zhan Wang, Yugeng He, <b>Jiaxuan Wang</b>, Jia Deng<br/>
      International Conference on Computer Vision (ICCV) 2015
      <br/>
      <br/>
      I used to write small games: check out some of the games by clicking on the links located on the 
      navigation bar.<br/>

      <h3>Skill Set:</h3>
      <h4>Machine Learning framework</h4>
      {% set skills={"Theano":"10","Torch":"90","Caffe":"70","Scikit-learn":"80"} %}
      {% for skill, value in skills.iteritems() %}
      <div class="progress">
	<div class="progress-bar progress-bar-info" role="progressbar" 
	     aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" 
	     style="width: {{value}}%;">
	  <span>{{skill}}</span>
	</div>
      </div>
      {% endfor %}
      
      <h4>Language</h4>
      {% set languages={"C":"80", "C++":"85", "Python":"90", "R":"60", "Javascript":"70", "Ruby":"50", 
      "Bash":"75", "scheme":"40", "Java":"50","Lua":"80"} %}
      {% for l, value in languages.iteritems() %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped" role="progressbar" 
	     aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" 
	     style="width: {{value}}%;">
	  <span>{{l}}</span>
	</div>
      </div>
      {% endfor %}

      
    </div>
  </div>
  
  <footer>
    <p>&copy Jiaxuan Wang</p>
    <!-- <span id="hobby"> -->
    <!--   <img id="violin"></img> -->
    <!--   <img id="basketball"></img> -->
    <!--   <img id="book"></img> -->
    <!-- </span> -->
  </footer>
  
  <script type="text/javascript" src="/static/2048_static/jquery.js"></script>
  <script type="text/javascript" src="/static/mainpage.js"></script>
</div> <!-- wrapper end -->
{% endblock %}
