{% extends "base.html" %}
{% block page_content %}
{{super()}}
<div class="wrapper">

  Some random small programming toys I did as an undergrad. <br/><br/>

  <ul>
    <li><a href="/timeTable">Time_Table</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/2048">2048</a></li>
    <li><a href="/shooter">shooter</a></li>
    <li><a href="/snake">snake</a></li>
    <li><a href="http://littleprince.herokuapp.com/games"
	   target="_blank">little prince</a></li>
  </ul>

  Songs from favorite artists: <br/><br/>

  <ul>
    <li><a href="https://www.youtube.com/watch?v=l8UPST1ZKSw">一块红布 -- 崔健</a></li> 
    <li><a href="https://www.youtube.com/watch?v=70v7WZKQkwk">融·解 -- 苏紫旭</a></li>
    <li><a href="https://www.youtube.com/watch?v=xbq-_2TqHVQ">杀死那个石家庄人 -- 万能青年旅店</a></li>    
    <li><a href="https://www.youtube.com/watch?v=Kj5Js79SqZ0">I don't care -- AR</a></li>
    <li><a href="https://www.youtube.com/watch?v=zxCVcVSW-nE">北京晚报 -- 阴三</a></li>
    <li><a href="https://www.youtube.com/watch?v=jsVaeCLJjHs">无人喝彩 -- 小老虎</a></li>     
    <li><a href="https://www.youtube.com/watch?v=rVEMTxg_LrU">山丘 -- 李宗盛</a></li> 
    <li><a href="https://www.youtube.com/watch?v=Z-2KToSVGqk">Purple Soul -- 龙胆紫</a></li>     
    <li><a href="https://www.youtube.com/watch?v=i7a8vwx3BPQ">江湖流 -- Cblock x Gai</a></li>     

  </ul>
  
  Favorite basketball players: <br/> <br/>

  <ul>
    <li>Jamal Crawford</li>
    <li>Kevin Durant</li>
    <li>Michael Jordan</li>
  </ul>

  
  
</div>
{% endblock %}
