{% extends "base.html" %}
{% block page_content %}
{{super()}}
<div class="wrapper">
  Some random small programming toys I did as an undergrad. They are fun memory to
  me. Maybe you enjoy them as well.

  <ul>
    <li><a href="/timeTable">Time_Table</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/2048">2048</a></li>
    <li><a href="/shooter">shooter</a></li>
    <li><a href="/snake">snake</a></li>
    <li><a href="http://littleprince.herokuapp.com/games"
	   target="_blank">little prince</a></li>
  </ul>

</div>
{% endblock %}
