{% extends "base.html" %}
{% block page_content %}
{{super()}}
<div class="wrapper">

  Some previous projects I found useful, most of which are replication of
  papers with additional results exposing their limitations. <br/><br/>

  <b>A replication and extension on <a href="https://arxiv.org/pdf/1506.02025.pdf">Spatial Transformer Network</a></b><br/>
  [<a href="https://github.com/nathanwang000/eecs692-reproduction/blob/master/EECS692Replication.pdf">report</a>][<a href="https://github.com/nathanwang000/eecs692-reproduction">code</a>]<br/><br/>

  <b>A replication and extension
    on <a href="https://arxiv.org/pdf/1804.04012.pdf">DORA</a></b><br/>
  [<a href="https://github.com/nathanwang000/deep_exploration_with_E_network/blob/master/EECS598_final_project.pdf">report</a>][<a href="https://github.com/nathanwang000/deep_exploration_with_E_network">code</a>]<br/><br/>
  
</div>
{% endblock %}
