{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=0 minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content=
      "black">

<title>Alien Invasion</title>
<link rel="stylesheet" href="/static/shooter_static/base.css" type="text/css" />
{% endblock %}
{% block page_content %}
<audio id="title_music" src="/static/shooter_static/music/mount_and_blade_title_screen.ogg"
       preload="auto" loop>
  Your browser doesn't support audio tag
</audio>
<audio id="victory_music" src="/static/shooter_static/music/victorious_swadian.ogg"
       preload="auto" loop>
  Your browser doesn't support audio tag
</audio>
<audio id="defeat_music" src="/static/shooter_static/music/defeated_by_neutral.ogg"
       preload="auto" loop>
  Your browser doesn't support audio tag
</audio>
<audio id="battle_music" src="/static/shooter_static/music/crazy_battle_music.ogg"
       preload="auto" loop>
  Your browser doesn't support audio tag
</audio>

<audio id="shoot_sound" src="/static/shooter_static/sound/arrow_pass_by_1.ogg"
       preload="auto">
  Your browser doesn't support audio tag
</audio>
<audio id="hit_sound" src="/static/shooter_static/sound/blunt_hit_high_3.ogg"
       preload="auto">
  Your browser doesn't support audio tag
</audio>


<div id='shooter_container'>
  <canvas id="game" width='320' height='480'>
    Your browser doesn't support canvas tag
  </canvas>
  <button onclick="Game.stopMusic()" style="display:block" class="btn btn-default">toggle sound</button>
</div>
<script src='/static/shooter_static/engine.js'></script>
<script src='/static/shooter_static/game.js'></script>
{% endblock %}
